.GetInformPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.GetInformPage .title {
  font-family: NanumSquareNeoBold;
  font-size: 1.25rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.GetInformPage .input-container {
  margin-bottom: 2.5rem;
}
.GetInformPage .input-container div {
  width: 25rem;
  display: flex;
  flex-direction: column;
}
.GetInformPage .input-container input {
  outline: none;
  border: 1px solid darkgray;
  border-radius: 1rem;
  padding: 0.875rem 1rem;
}
.GetInformPage .btn-submit {
  padding: 0.75rem 7rem;
  background-color: var(--navy600);
  outline: none;
  border: none;
  border-radius: 10rem;
  color: white;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.GetInformPage span {
  color: hwb(120 20% 35%);
  margin: 0.5rem 0;
}
.GetInformPage .wrong {
  color: rgb(236, 0, 0);
}
.GetInformPage img {
  position: absolute;
  width: 7rem;
  bottom: 2.5rem;
  right: 5rem;
}

@media (max-width: 450px) {
  .GetInformPage .title {
    margin-top: 2.5rem;
  }
  .GetInformPage .input-container div {
    width: 20rem;
  }
  .GetInformPage .input-container input {
    padding: 0.75rem 1rem;
  }
  .GetInformPage .input-container p {
    margin-bottom: 0.75rem;
  }
  .GetInformPage .btn-submit {
    margin-bottom: 5rem;
  }
}
@media (max-width: 350px) {
  .GetInformPage .input-container div {
    width: 17.5rem;
    font-size: 0.875rem;
  }
  .GetInformPage .input-container p {
    margin-bottom: 0.75rem;
  }
  .GetInformPage .btn-submit {
    width: 17.5rem;
    padding: 0.75rem 0;
  }
}
