.Changes {
  display: flex;
  flex-direction: column;
  background-color: white;
}
.Changes .container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  flex: 1;
}
.Changes .content {
  padding: 0 0.5rem;
  font-size: 0.9rem;
  position: relative;
}
.Changes .maintype-container {
  position: absolute;
  /* top: -2rem; */
  right: 1.5rem;
  display: flex;
  align-items: center;
}
.Changes .maintype-container .text {
  background-color: var(--text-box);
  padding: 0.25rem 1rem;
  font-family: NanumSquareNeoBold;
  border-radius: 1rem;
}
.Changes .maintype-container .img-container {
  padding: 0.5rem;
  border-radius: 100%;
  margin-left: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Changes .maintype-container img {
  width: 2.5rem;
  height: 2.5rem;
}
.Changes .box {
  margin-top: 2rem;
}
.Changes .box-content {
  padding: 0 0.5rem;
  line-height: 1.6;
}
.Changes .content-section {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
}
.Changes .change-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.Changes .conflict-item {
  display: flex;
  margin-bottom: 1rem;
}
.Changes .change-item .title-container {
  width: fit-content;
  min-width: 4.75rem;
  height: 4.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  border-radius: 3rem;
  color: var(--navy700);
  background-color: var(--text-box);
  margin-right: 1rem;
  font-family: NanumSquareNeoBold;
}
