.ResultPage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.ResultPage .page-container {
  animation: opacity 1s ease forwards;
}
.ResultPage .page-container.true {
  animation: opacity 1s ease forwards;
}
.ResultPage .page-container.false {
  animation: slideNext 1s ease forwards;
}
.ResultPage .page-container:first {
  height: 100%;
  animation: slideFromBottom 1s ease forwards;
}
.ResultPage .page-buttons {
  position: fixed;
  width: 100%;
  top: 50%;
  display: flex;
}
.ResultPage .page-buttons button {
  position: fixed;
  background-color: transparent;
  outline: none;
  border: none;
  box-shadow: none;
}
.ResultPage .btn-next {
  right: 0;
}
.ResultPage .scale-buttons {
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  display: flex;
  flex-direction: column;
}
.ResultPage .scale-buttons button {
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 1rem;
  outline: none;
  border: none;
  border-radius: 100%;
  background-color: rgb(118, 194, 230);
  color: white;
  font-size: 1.5rem;
}
.ResultPage .btnPDF {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  border: 3px solid white;
  outline: none;
  border-radius: 1rem;
  width: 7rem;
  height: 4rem;
  background-color: hsl(205, 46%, 59%);
  color: white;
  font-weight: 700;
}
