.CoworkItem {
  padding: 1.25rem 2.25rem;
  line-height: 1.5;
  font-size: 0.9rem;
  position: relative;
}
.CoworkItem .name {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
.CoworkItem .name img {
  height: 1.75rem;
  margin-right: 0.75rem;
}
.CoworkItem .intro {
  margin-left: 2.5rem;
  font-size: 0.875rem;
}
.CoworkItem .content-box {
  height: 16.75rem;
  background-color: white;
  border-radius: 3rem;
  padding: 1rem 1.5rem;
  margin: 1rem 0;
}
.CoworkItem .item-title {
  font-family: NanumSquareNeoBold;
  text-align: center;
  margin-bottom: 0.25rem;
}
.CoworkItem .item-content {
  font-size: 0.875rem;
}
.CoworkItem .item:first-child {
  margin-bottom: 1rem;
}
.CoworkItem.CoworkItem {
  background-color: var(--navy-r);
}
.CoworkItem.E {
  background-color: var(--navy-e);
}
.CoworkItem.A {
  background-color: var(--navy-a);
}
.CoworkItem.L {
  background-color: var(--navy-l);
}

.CoworkItem .quarter {
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
}

.CoworkItem.R .quarter {
  bottom: 0;
  right: 0;
  background-color: var(--navy700);
  border-top-left-radius: 100%;
}
.CoworkItem.E .quarter {
  bottom: 0;
  left: 0;
  background-color: var(--navy600);
  border-top-right-radius: 100%;
}
.CoworkItem.A .quarter {
  top: 0;
  right: 0;
  background-color: var(--navy400);
  border-bottom-left-radius: 100%;
}
.CoworkItem.L .quarter {
  top: 0;
  left: 0;
  background-color: var(--navy500);
  border-bottom-right-radius: 100%;
}

.CoworkItem .inner {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CoworkItem.R .inner {
  background-color: var(--navy-r);
  padding: 0.5rem 0 0 0.5rem;
}
.CoworkItem.E .inner {
  background-color: var(--navy-e);
  padding: 0.5rem 0.5rem 0 0;
}
.CoworkItem.A .inner {
  background-color: var(--navy-a);
  padding: 0 0 0.5rem 0.5rem;
}
.CoworkItem.L .inner {
  background-color: var(--navy-l);
  padding: 0 0.5rem 0.5rem 0;
}
.CoworkItem span {
  color: var(--navy700);
  font-family: "Times New Roman", Times, serif;
  font-size: 1.875rem;
  font-weight: bold;
}
