.Question {
  height: 10.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
  font-weight: 500;
}
.Question .title {
  cursor: default;
  margin-bottom: 3rem;
  font-size: 1.2rem;
}
.Question .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50em;
  padding-left: 2.5rem;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid darkgray;
}
.Question .buttons {
  display: flex;
  width: 55%;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: center;
}
.Question.true {
  opacity: 0.3;
}
