.GroupCharacter {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.GroupCharacter .table-container img {
  width: 15rem;
}
.GroupCharacter .percentage {
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 1rem 0 3rem 0;
}
.GroupCharacter .user-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
  gap: 1rem;
  width: 100%;
}
