.TestPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.TestPage .test-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(160, 16%, 96%);
  padding: 2rem 0;
}
.TestPage .test-header img {
  width: 35rem;
}
.TestPage .progressbar-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.TestPage .question-box {
  padding: 4rem 0;
}
.TestPage .button-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.TestPage .btn_submit {
  /* text-align: center; */
  font-size: 1.25rem;
  background-color: var(--color-s-main);
  color: white;
  padding: 0.875rem 12rem;
  margin-bottom: 10rem;
  border: none;
  outline: none;
  border-radius: 10rem;
}
