.CaseBox {
  width: 14rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--text-box);
  padding: 1.5rem 1.25rem;
  padding-top: 3rem;
  border-radius: 1rem;
  line-height: 1.5;
  font-size: 0.875rem;
  position: relative;
}
.CaseBox .item-content {
  font-weight: bold;
  width: 14rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--navy400);
  margin-bottom: 1rem;
}
.CaseBox .item-detail {
  font-size: 0.8rem;
}
.CaseBox .icon_search {
  width: 100%;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  display: flex;
  justify-content: end;
  margin-bottom: 0.5rem;
}
.CaseBox .icon_search img {
  width: 2rem;
  height: 2rem;
}
