.ModifyModal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.ModifyModal .modal-container {
  background-color: white;
  width: fit-content;
  height: fit-content;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
  box-shadow: 0px 5px 15px 1px rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
.ModifyModal .title {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: start;
  width: 100%;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
}
.ModifyModal .user-info div {
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
}
.ModifyModal p {
  width: 6rem;
  text-align: end;
  padding: 0 0.75rem;
  font-size: 1.125rem;
}
.ModifyModal select,
.ModifyModal input {
  outline: none;
  border: 1px solid rgb(168, 168, 168);
  border-radius: 0.25rem;
  width: 15rem;
  height: 2.125rem;
  padding: 0 1rem;
  font-weight: 700;
}
.ModifyModal select {
  width: 17.125rem;
}
.ModifyModal input::placeholder {
  color: rgb(199, 199, 199);
  font-weight: 400;
}
.ModifyModal input:focus {
  outline: 1px solid hwb(207 46% 0%);
}
.ModifyModal input:disabled {
  background-color: rgb(0 0 0 / 0.1);
}
.ModifyModal .buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.ModifyModal button {
  width: 12rem;
  padding: 0.75rem;
  margin-top: 1rem;
  font-size: 1em;
  outline: none;
  border: none;
  border-radius: 0.25rem;
}
.ModifyModal button:first-child {
  margin-right: 1.5rem;
}
.ModifyModal .btn_save {
  background-color: hwb(207 85% 7%);
}
