.TypeItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.TypeItem img {
  background-color: aliceblue;
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  margin-bottom: 1rem;
}

.TypeItem .name {
  margin-bottom: 0.25rem;
}
