.Weakness {
  display: flex;
  flex-direction: column;
}
.Weakness .container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  flex: 1;
}
.Weakness .top-section {
  display: flex;
  justify-content: center;
  padding: 0 0.5rem;
}
.Weakness .text-section {
  margin-right: 2rem;
  font-size: 0.9rem;
}
.Weakness .text-section .intro {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.75rem;
}
.Weakness .icon-container {
  width: 1.75rem;
  height: 1.75rem;
  padding: 0.625rem;
  margin-right: 1rem;
  border: 11px solid var(--navy700);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Weakness .icon-container img {
  width: 1.5rem;
}
.Weakness .text-section .text-box {
  background-color: var(--text-box);
  padding: 1rem;
  margin-bottom: 1rem;
  width: 23rem;
  height: 9rem;
  border-radius: 1rem;
}

.Weakness .top-section .img_table {
  width: 17.25rem;
  height: 17.25rem;
}
.Weakness .bottom-section {
  height: 100%;
  padding: 0 0.5rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}
.Weakness .bottom-section .text-section {
  margin: 0;
}
.Weakness .bottom-section .text-section .strength-item {
  margin-bottom: 1rem;
}
.Weakness .strength-item .item-content {
  font-family: NanumSquareNeoBold;
  font-weight: 400;
  margin-bottom: 0.15rem;
}
.Weakness .strength-item .item-detail {
  color: gray;
  margin-left: 1.25rem;
}
