.TableHead {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: hwb(207 85% 7%);
  padding: 0.75rem 0rem;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}
.TableHead .head-item {
  display: flex;
  justify-content: center;
}
