.TableHead {
  width: 42rem;
  display: flex;
  justify-content: space-between;
  background-color: hwb(207 85% 7%);
  padding: 0.5rem 3rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.TableHead .head-item {
  /* width: 10rem; */
  display: flex;
  justify-content: center;
}
