.TableHead {
  width: 55rem;
  display: flex;
  background-color: hwb(207 85% 7%);
  padding: 0.5rem 0rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.TableHead .head-item {
  display: flex;
  justify-content: center;
}
