.TableBody {
  width: 100%;
  height: 2rem;
  border-bottom: 1px solid hwb(205 70% 17%);
  padding: 0.75rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.TableBody .check-box {
  display: flex;
  justify-content: center;
}
.TableBody .body-item {
  display: flex;
  justify-content: center;
  text-align: center;
}
.TableBody .button-container {
  display: flex;
  justify-content: start;
}
.TableBody .button-container button {
  outline: none;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  padding: 0.125rem 0.625rem;
  white-space: none;
  text-align: center;
}
.TableBody .button-container .btn_download {
  margin-right: 0.75rem;
  display: flex;
  align-items: center;
  padding: 0.25rem 0.625rem;
  border: 1px solid black;
}
.TableBody .button-container .btn-mod {
  margin-right: 0.5rem;
  border: none;
  background-color: hwb(0 89% 11%);
}
.TableBody .button-container .btn-del {
  border: none;
  background-color: hsl(0, 24%, 88%);
}
.TableBody .btn_download .icon_download {
  width: 1.125rem;
  height: 1.125rem;
  padding-left: 0.25rem;
}
