.TableBody {
  width: 50rem;
  display: flex;
  background-color: rgb(240, 240, 240);
  padding: 0.5rem 0rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}
.TableBody .body-item {
  display: flex;
  justify-content: center;
}
.TableBody button {
  outline: none;
  border: none;
  background-color: hsl(0, 74%, 92%);
  color: rgb(0, 0, 0);
  font-weight: 700;
  border-radius: 0.25rem;
  padding: 0.125rem 0.5rem;
}
.TableBody .btn-mod {
  margin-right: 0.5rem;
  background-color: hwb(205 49% 11%);
  color: white;
}
