.Bottom {
  display: flex;
  justify-content: end;
  margin: 0 1.5rem;
  margin-bottom: 0.75rem;
  border-top: 1px solid black;
  position: relative;
}
.Bottom img {
  padding: 1rem;
  width: 8rem;
  height: 1.7rem;
}
.Bottom .page-index {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Bottom .page-index div {
  font-size: 0.875rem;
}
