.Summary {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.Summary .container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  flex: 1;
}
.Summary .content {
  flex: 1;
  padding: 0 2rem;
  padding-top: 1rem;
  line-height: 1.5;
  font-size: 0.9rem;
}
.Summary .name-container {
  display: flex;
  align-items: end;
  font-weight: bold;
}
.Summary .name-container img {
  width: 4rem;
  margin-right: 0.75rem;
}
.Summary .box {
  margin: 0 0.5rem;
}
.Summary .box:nth-child(2) {
  margin-bottom: 2.5rem;
}
.Summary .box .title {
  font-family: NanumSquareNeoBold;
  font-size: 1rem;
  margin-top: 1.5rem;
}
.Summary .box .title b {
  font-family: NanumSquareNeo;
  font-size: 1.25rem;
  padding: 0 0.5rem;
}
.Summary .box .content-items {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}
.Summary .box .content-items .item-left {
  width: 25rem;
  height: 21rem;
  padding: 0 1rem;
  margin-right: 1rem;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* align-items: end; */
}
/* .Summary .box:nth-child(3) .content-items .item-left {
  height: 21.5rem;
} */
.Summary .item-left .quarter-container {
  /* position: absolute; */
  /* top: -1rem;
  left: 1.875rem;
  scale: 0.75;
  transform-origin: 50% 50%; */
  position: relative;
  margin: 1rem 0;
}
.Summary .item-left .quarter-container .background {
  opacity: 0.25;
}
.Summary .quarter-container .selected {
  position: absolute;
  top: 0;
  width: 100%;
  height: 12rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.Summary .quarter-container .selected .quarter-selected {
  width: 100%;
  height: 100%;
  background-color: var(--navy700);
}
.Summary .quarter-container .selected .quarter-selected.top.left {
  border-top-left-radius: 100%;
}
.Summary .quarter-container .selected .quarter-selected.top.right {
  border-top-right-radius: 100%;
}
.Summary .quarter-container .selected .quarter-selected.bottom.left {
  border-bottom-left-radius: 100%;
}
.Summary .quarter-container .selected .quarter-selected.bottom.right {
  border-bottom-right-radius: 100%;
}
/* .Summary .item-left .chartable-container {
  scale: 0.325;
  transform-origin: top;
  position: absolute;
  top: 3rem;
  left: -7rem;
} */
.Summary .item-left .quarter-container img {
  width: 12rem;
}
.Summary .item-left .chartable-container img {
  width: 15rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.Summary .box .content-items .item-right {
  width: 22rem;
  /* position: relative; */
  /* margin-left: 2rem; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Summary .item-right .component-container {
  width: 15rem;
  height: 15rem;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 3px 3px 15px 2px rgb(0 0 0 / 0.15);
}
.Summary .bar-container {
  width: 100%;
  height: 90%;
  margin-top: -1rem;
  margin-left: -0.5rem;
}
.Summary .keywords-container {
  width: 100%;
  /* height: 90%; */
}
.Summary .box:nth-child(3) .item-right .component-container {
  /* width: 45rem;
  height: 0;
  padding: 1rem; */
  /* scale: 0.42; */
  /* position: absolute;
  right: -15.25rem;
  top: 1rem; */
}
.Summary .component-title {
  margin-bottom: 1rem;
}
.Summary .component-title b {
  margin: 0 0.25rem;
}
.Summary .text-container {
  font-size: 0.85rem;
}
