.FourTypes .TypeItem {
  position: relative;
  width: 100%;
  height: 20rem;
}
.FourTypes .TypeItem .text-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.FourTypes .TypeItem .text-container .logo {
  border: 1px solid black;
  width: 5rem;
  height: 5rem;
  margin-bottom: 0.5rem;
}
.FourTypes .TypeItem .text-container .name {
  /* font-weight: 700; */
}
.FourTypes .TypeItem .text-container .content {
  margin-bottom: 1rem;
}
.FourTypes .TypeItem .text-container .subtypes {
  display: flex;
  flex-direction: column;
}

.FourTypes .TypeItem.S {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
}
.FourTypes .TypeItem.E {
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
}
.FourTypes .TypeItem.A {
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
}
.FourTypes .TypeItem.L {
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.FourTypes .TypeItem.E .text-container,
.FourTypes .TypeItem.L .text-container {
  align-items: end;
}

.FourTypes .quarter {
  position: absolute;
  width: 12rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.FourTypes .TypeItem.S .quarter {
  bottom: 0;
  right: 0;
  background-color: yellow;
  border-top-left-radius: 100%;
}
.FourTypes .TypeItem.E .quarter {
  bottom: 0;
  left: 0;
  background-color: green;
  border-top-right-radius: 100%;
}
.FourTypes .TypeItem.A .quarter {
  top: 0;
  right: 0;
  background-color: blue;
  border-bottom-left-radius: 100%;
}
.FourTypes .TypeItem.L .quarter {
  top: 0;
  left: 0;
  background-color: red;
  border-bottom-right-radius: 100%;
}
.FourTypes .TypeItem span {
  font-size: 3.5rem;
}
