.ItemBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  height: 13rem;
}
.ItemBox img {
  position: absolute;
  z-index: -1;
}
.ItemBox .item-content {
  width: 19rem;
  padding-top: 2.5rem;
  padding-right: 0.25rem;
}
.ItemBox p {
  margin: 0;
  margin-bottom: 0.5rem;
}
.ItemBox .item-title {
  background-color: var(--underline);
  width: fit-content;
  padding: 0 0.25rem;
  font-size: 0.95rem;
}
.ItemBox .item-content {
  line-height: 1.25;
  font-size: 0.9rem;
}
