.Weak {
  display: flex;
  flex-direction: column;
}
.Weak .container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  flex: 1;
}
.Weak .content {
  display: flex;
  flex-direction: column;
  padding: 0rem 0.5rem;
  flex: 1;
  font-size: 0.9rem;
  position: relative;
}
.Weak .maintype-container {
  position: absolute;
  top: 0rem;
  right: 1.5rem;
  display: flex;
  align-items: center;
}
.Weak .maintype-container .text {
  background-color: var(--text-box);
  padding: 0.25rem 1rem;
  font-family: NanumSquareNeoBold;
  border-radius: 1rem;
}
.Weak .maintype-container .img-container {
  padding: 0.5rem;
  border-radius: 100%;
  margin-left: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Weak .maintype-container img {
  width: 2.5rem;
  height: 2.5rem;
}
.Weak .box {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  flex: 1;
}
.Weak .box-content {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
  line-height: 1.6;
  flex: 1;
}
.Weak .intro {
  margin-bottom: 1.5rem;
}
.Weak .content-section {
  display: flex;
  width: 100%;
  line-height: 1.6;
  flex: 1;
}
.Weak .text-section {
  margin-top: 1.5rem;
  margin-right: 2.5rem;
  display: flex;
  flex-direction: column;
}
.Weak .text-item {
  margin-bottom: 2rem;
}
.Weak .case-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 1rem;
}
