.AdminPage {
  width: 65rem;
  display: flex;
  flex-direction: column;
  padding: 2.5rem 2.5rem;
  margin: auto;
}
.AdminPage h2,
h4 {
  line-height: 0;
}
.AdminPage h2 {
  cursor: pointer;
}
.AdminPage .search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}
.AdminPage .keyword {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
