.Header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: fit-content;
  border-bottom: 1px solid darkgray;
  z-index: 10;
}
.Header img {
  cursor: pointer;
  width: 8rem;
}
.Header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  font-size: 1.25rem;
  font-weight: 600;
  height: 4rem;
}
.Header div button {
  outline: none;
  border: 1px solid var(--font-gray);
  border-radius: 1rem;
  color: var(--font-gray);
  background-color: transparent;
  padding: 0.325rem 0.625rem;
  border: none;
}
.Header div button:hover {
  font-weight: bold;
}
@media (max-width: 768px) {
  .Header div {
    padding: 0 2rem;
  }
  .Header div img {
    width: 6rem;
  }
  .Header div button {
    font-size: 0.75rem;
  }
}
