.Header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: fit-content;
  border-bottom: 1px solid darkgray;
  z-index: 2;
}
.Header img {
  cursor: pointer;
  width: 10rem;
}
.Header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  font-size: 1.25rem;
  font-weight: 600;
  height: 5rem;
}
.Header div button {
  outline: none;
  border: 1px solid var(--font-gray);
  border-radius: 1rem;
  color: var(--font-gray);
  background-color: transparent;
  padding: 0.325rem 0.625rem;
}
