.Introduction {
  display: flex;
  flex-direction: column;
}
.Introduction .container {
  padding: 1.5rem;
  flex: 1;
}
.Introduction .content {
  line-height: 1.75;
  position: relative;
}
.Introduction .content .text {
  font-size: 0.9rem;
  padding: 2rem 4rem;
}
.Introduction .content .text b {
  font-style: italic;
  text-decoration: underline;
}
.Introduction .detail {
  margin-top: 1rem;
  display: flex;
}
.Introduction .detail .number {
  margin-right: 0.75rem;
}
.Introduction .text-bottom {
  width: 27rem;
}
.Introduction .quarter-container {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  z-index: -1;
  opacity: 0.7;
  mask-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  filter: grayscale(100%);
}
