.Introduction {
  display: flex;
  flex-direction: column;
}
.Introduction .container {
  padding: 1.5rem;
  flex: 1;
}
.Introduction .content {
  line-height: 1.75;
  position: relative;
}
.Introduction .content .text {
  font-size: 0.9rem;
  padding: 2rem 4rem;
  position: inherit;
  z-index: 1;
}
.Introduction .content .text b {
  font-style: italic;
  text-decoration: underline;
}
.Introduction .detail {
  margin-top: 1rem;
  display: flex;
}
.Introduction .detail .number {
  margin-right: 0.75rem;
}
.Introduction .text-bottom {
  width: 27rem;
}
.Introduction .quarter-container {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  z-index: 0;
}
.Introduction .quarter-container img {
  width: 17rem;
}
