.RootInfo {
  display: flex;
  flex-direction: column;
}
.RootInfo .container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}
.RootInfo .container:nth-child(2) {
  padding: 0 1.5rem;
  flex: 1;
}
.RootInfo .content {
  line-height: 1.5;
}
.RootInfo .content .text {
  font-size: 0.9rem;
  padding: 0 0.5rem;
  margin-bottom: 2rem;
}
.RootInfo .root-contents {
  display: flex;
  justify-content: center;
}
.RootInfo .root-contents .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 0.6rem;
  color: rgb(94, 158, 184);
  padding: 0 0.5rem;
  margin-bottom: 0.5rem;
}
.RootInfo .box img {
  width: 5rem;
  height: 5rem;
  margin-bottom: 0.25rem;
}
.RootInfo .box .title {
  height: 2.5rem;
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  font-family: NanumSquareNeoBold;
  margin-bottom: 1rem;
}

.RootInfo .header {
  width: 100%;
  font-size: 1.2rem;
  padding: 0.625rem 0;
  margin-bottom: 1rem;
  border-top: 1px solid var(--navy400);
  border-bottom: 1px solid var(--navy400);
}
.RootInfo .header span {
  padding: 0 0.5rem;
}
.RootInfo .container:nth-child(2) .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.RootInfo .container:nth-child(2) .content .boxs {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
