.RootInfo {
  display: flex;
  flex-direction: column;
}
.RootInfo .container {
  padding: 1.5rem;
  flex: 1;
}
.RootInfo .content {
  line-height: 1.75;
}
.RootInfo .content .text {
  font-size: 0.9rem;
  padding: 3rem 4rem;
  margin-bottom: 1.5rem;
}
.RootInfo .logo-container img {
  width: 12rem;
}
.RootInfo .logo-container b {
  color: rgb(255, 145, 0);
}
