.Question button {
  padding: 1.5rem;
  border-radius: 100%;
  border: 2px solid rgb(135, 135, 135);
}
.Question button:nth-child(3) {
  padding: 0.5rem;
}
.Question button:nth-child(2),
.Question button:nth-child(4) {
  padding: 1rem;
}
.Question button.agree {
  border: 2px solid hwb(122 20% 40%);
}
.Question button.disagree {
  border: 2px solid brown;
}
.Question button:hover {
  background-color: rgb(135, 135, 135);
  opacity: 0.75;
}
.Question button.true {
  background-color: rgb(135, 135, 135);
  opacity: 1;
}
.Question button.agree:hover {
  background-color: hwb(122 20% 40%);
  opacity: 0.75;
}
.Question button.agree.true {
  background-color: hwb(122 20% 40%);
  opacity: 1;
}
.Question button.disagree:hover {
  background-color: brown;
  opacity: 0.75;
}
.Question button.disagree.true {
  background-color: brown;
  opacity: 1;
}
