.Question button {
  padding: 1.5rem;
  border-radius: 100%;
  border: 2px solid rgb(190, 190, 190);
  background-color: transparent;
}
.Question button:nth-child(3) {
  padding: 0.5rem;
}
.Question button:nth-child(2),
.Question button:nth-child(4) {
  padding: 1rem;
}
.Question button.agree {
  border: 2px solid var(--color-s-main);
}
.Question button.disagree {
  border: 2px solid brown;
}
.Question button:hover {
  background-color: rgb(190, 190, 190);
  opacity: 0.75;
}
.Question button.true {
  background-color: rgb(190, 190, 190);
  opacity: 1;
}
.Question button.agree:hover {
  background-color: var(--color-s-main);
}
.Question button.agree.true {
  background-color: var(--color-s-main);
}
.Question button.disagree:hover {
  background-color: brown;
}
.Question button.disagree.true {
  background-color: brown;
}
