.Question button {
  padding: 1.5rem;
  border-radius: 100%;
  border: 2px solid var(--navy700);
  background-color: transparent;
}
.Question button:nth-child(2),
.Question button:nth-child(4) {
  border: 2px solid var(--navy500);
  padding: 1.125rem;
}
.Question button:nth-child(3) {
  border: 2px solid var(--navy400);
  padding: 0.875rem;
}

.Question button:hover {
  background-color: var(--navy700);
  border: 2px solid var(--navy700);
  opacity: 0.75;
  animation: scale 0.1s ease forwards;
}
.Question button.true {
  background-color: var(--navy700);
  border: 2px solid var(--navy700);
}

@media (max-width: 450px) {
  .Question button {
    padding: 0.875rem;
  }
  .Question button:nth-child(2),
  .Question button:nth-child(4) {
    padding: 0.75rem;
  }
  .Question button:nth-child(3) {
    padding: 0.625rem;
  }
}

@media (max-width: 350px) {
  .Question button {
    padding: 0.625rem;
  }
  .Question button:nth-child(2),
  .Question button:nth-child(4) {
    padding: 0.5rem;
  }
  .Question button:nth-child(3) {
    padding: 0.325rem;
  }
}
