.Search {
  display: flex;
  align-items: center;
}
.Search input {
  width: 25rem;
  outline: none;
  border: 2px solid hwb(205 49% 11%);
  padding: 0.875rem 1.5rem;
  border-radius: 3rem;
  margin-right: 1rem;
}
.Search button {
  background-color: hwb(205 45% 17%);
  color: white;
  outline: none;
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
}
/*detail search bar*/
.Search_detail {
  display: flex;
  align-items: center;
}
.Search_detail input {
  width: 15rem;
  outline: none;
  border: 1px solid hsl(0, 0%, 73%);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
}
