.Question {
  height: 12.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.Question .title {
  cursor: default;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}
.Question .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50rem;
  padding-left: 2.5rem;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid darkgray;
  flex: 1;
}
.Question p {
  min-width: 3rem;
  text-align: center;
}
.Question .buttons {
  display: flex;
  width: 55%;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
.Question .buttons.true {
  display: flex;
  width: 55%;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: end;
  flex: 1;
}
.Question.true {
  opacity: 0.3;
}

@media (max-width: 450px) {
  .Question .title {
    max-width: 18rem;
    margin: 1rem;
    font-size: 0.875rem;
  }
  .Question .button-container {
    width: 100%;
    padding-left: 0;
    margin-bottom: 1rem;
    font-size: 0.75rem;
  }
  .Question .buttons {
    padding: 0 0.75rem;
  }
  .Question p {
    width: 3rem;
  }
}
@media (max-width: 350px) {
  .Question .title {
    max-width: 15rem;
  }
  .Question .button-container {
    max-width: 15rem;
  }
  .Question .buttons {
    padding: 0 0.5rem;
  }
}

/*그룹 통계*/
.Statistic .Question {
  height: 6.5rem;
  margin-bottom: 0.5rem;
  /* background-color: aliceblue; */
}
.Statistic .Question .title {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 0.9rem;
}
.Statistic .Question .button-container {
  width: 100%;
  padding: 0rem;
  border-bottom: none;
  flex: 1;
  height: fit-content;
}
.Statistic .Question p {
  min-width: 3rem;
  font-size: 0.75rem;
}
.Statistic .Question .buttons.true {
  display: flex;
  width: 100%;
}
.Statistic .Question.true {
  opacity: 0.3;
}
