.Justifying {
  display: flex;
  flex-direction: column;
}
.Justifying .container {
  padding: 1.5rem;
  flex: 1;
}
.Justifying .content {
  padding: 0 0.5rem;
  font-size: 0.9rem;
  position: relative;
}
.Justifying .maintype-container {
  position: absolute;
  top: -2rem;
  right: 1.5rem;
  display: flex;
  align-items: center;
}
.Justifying .maintype-container .text {
  background-color: var(--text-box);
  padding: 0.25rem 1rem;
  font-family: NanumSquareNeoBold;
  border-radius: 1rem;
}
.Justifying .maintype-container .img-container {
  padding: 0.5rem;
  border-radius: 100%;
  margin-left: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Justifying .maintype-container img {
  width: 2.5rem;
  height: 2.5rem;
}
.Justifying .box {
  margin-top: 2rem;
}
.Justifying .box-content {
  padding: 0 0.5rem;
  line-height: 1.6;
}
.Justifying .content-section {
  display: flex;
  width: 100%;
  padding: 0.5rem 0;
}
.Justifying .text-item {
  margin-bottom: 1rem;
}
