.Character {
  display: flex;
  flex-direction: column;
}
.Character .container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  flex: 1;
}
.Character .content {
  height: 100%;
  padding: 0 0.5rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}
.Character .content .text {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
.Character .container .content .characters {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  flex: 1;
  /* scale: 0.9; */
}
.Character .container .content .characters img {
  width: 42.5rem;
  height: 42.5rem;
}
.Character .table-container {
  width: 45rem;
  height: 45rem;
}
.Character .content .bottom-text {
  font-size: 0.75rem;
  line-height: 2;
}
