.Table {
  width: 90rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem;
  position: relative;
}
.Table .button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.Table .buttons {
  display: flex;
  align-items: center;
}
.Table .buttons button {
  outline: none;
  border-radius: 1rem;
  font-size: 0.875rem;
  background-color: transparent;
  padding: 0.25rem 0.75rem;
  margin-left: 0.5rem;
  border: 2px solid rgb(175, 175, 175);
}
.Table .sort-container {
  position: relative;
  width: fit-content;
}
.Table .btn_sort img {
  padding-left: 0.25rem;
}
.Table .menu-sort {
  position: absolute;
  top: 2rem;
  left: -0.875rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  border: 1px solid rgb(175, 175, 175);
  background-color: white;
  box-shadow: 2px 3px 10px 2px rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
.Table .menu-sort .btn_sort_item {
  background-color: transparent;
  font-size: 0.875rem;
  padding: 0.75rem 0.75rem;
  border: none;
  border-top: 1px solid rgb(175, 175, 175);
  width: 7rem;
  box-shadow: none;
  margin: 0;
  border-radius: 0%;
}
.Table .menu-sort .btn_sort_item:hover {
  background-color: #f1f1f1;
  font-weight: bold;
  scale: none;
}
.Table .menu-sort .btn_sort_item:first-child {
  border: none;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.Table .menu-sort .btn_sort_item:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.Table .buttons .btn_group {
  border: 2px solid lightseagreen;
}
.Table .buttons .btn_pdf {
  border: 2px solid rgb(184, 0, 0);
}
.Table .buttons .btn_statistic {
  border: 2px solid salmon;
}
.Table .buttons .btn_excel {
  border: 2px solid green;
}
.Table .buttons .btn_add_course {
  border: 2px solid hwb(205 41% 23%);
  background-color: hwb(205 41% 23%);
  color: white;
}
