.resultheader {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.resultheader p {
  padding-right: 1.5rem;
  color: var(--navy700);
  font-weight: 600;
}
.resultheader .title {
  width: 100%;
  font-family: NanumSquareNeoBold;
  font-size: 1.2rem;
  padding: 0.625rem 0;
  margin-bottom: 1rem;
  border-top: 1px solid var(--navy400);
  border-bottom: 1px solid var(--navy400);
}
.resultheader span {
  padding: 0 0.5rem;
}
