:root {
  --font-gray: rgb(100, 100, 100);
  --underline: #e2e7ea;
  --navy700: #030e33;
  --navy600: #2f3958;
  --navy500: #5c647d;
  --navy400: #8991a1;
  --navy300: #b6bcc5;
  --navy-r: #808699;
  --navy-e: #979cab;
  --navy-a: #c4c8d0;
  --navy-l: #adb1be;
  --text-box: #e4e6ec;
  --text-box2: #f2f2f2;
  --more-info-box: #eff1f5;
  --table-none: #efefef;
  --table-area: #d3d3d3;
  --text-pos: #0070c0;
  --text-neg: #c00000;
}
.App {
  width: 100%;
  min-width: fit-content;
  display: flex;
  justify-content: center;
  font-family: "NanumSquareNeo";
  color: rgb(80, 80, 80);
}
.App-Body {
  width: 100%;
  min-height: calc(100vh - 4rem);
  margin-top: 4rem;
}
p {
  cursor: default;
}
button {
  font-family: "NanumSquareNeo";
  cursor: pointer;
  user-select: none;
}
input {
  font-family: "NanumSquareNeo";
}
img {
  user-select: none;
}

.pdfPage {
  /* width: 100%; */
  /* width: 210mm; */
  /* height: 296.625mm; */
  /* margin: auto; */
}
.pdfPage div {
  animation: none;
}
.resultpage {
  width: 210mm;
  height: 297mm;
  box-shadow: 0 0 50px 0.2px rgb(0 0 0 / 0.075);
  /* animation: opacity 1s ease forwards; */
  color: black;
  background-color: white;
}
.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* @keyframes opacity {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
} */

@keyframes scale {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.2;
  }
}

@keyframes scale2 {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.05;
  }
}
