.App {
  width: 100%;
  display: flex;
  justify-content: center;
}
.App-Body {
  width: 100%;
  padding-top: 4rem;
}
p {
  cursor: default;
}
button {
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
