:root {
  --color-s-main: rgb(9, 185, 147);
  --color-e-main: rgb(231, 158, 0);
  --color-a-main: rgb(87, 0, 168);
  --color-l-main: rgba(211, 49, 0, 0.842);
}
.App {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Pretendard-Regular";
  /* background-color: rgb(250, 250, 250); */
}
.App-Body {
  width: 100%;
  min-height: calc(100vh - 4rem);
  padding-top: 4rem;
}
p {
  cursor: default;
}
button {
  font-family: "Pretendard-Regular";
  cursor: pointer;
  user-select: none;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1);
}
.pdfPage {
  width: 100%;
  height: 296.625mm;
  margin: auto;
}

.resultpage {
  width: 210mm;
  height: 297mm;
  box-shadow: 0 0 50px 0.2px rgb(0 0 0 / 0.075);
  animation: opacity 1s ease forwards;
}
.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@keyframes opacity {
  0% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}
