.Overview {
  display: flex;
  flex-direction: column;
  background-color: white;
}
.Overview .container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}
.Overview .container:nth-child(2) {
  padding: 0 1.5rem;
  flex: 1;
}
.Overview .container .content {
  padding: 0 0.5rem;
  line-height: 1.5;
}
.Overview .container:nth-child(2) .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Overview .container .text {
  font-size: 0.9rem;
  margin-bottom: 2rem;
}
.Overview .container .content-four-types {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem 0;
}
.Overview .header {
  width: 100%;
  font-size: 1.2rem;
  padding: 0.625rem 0;
  margin-bottom: 1.5rem;
  border-top: 1px solid var(--navy400);
  border-bottom: 1px solid var(--navy400);
}
.Overview .header span {
  font-family: NanumSquareNeoBold;
  padding: 0 0.5rem;
}
