.KeywordItem {
  width: 100%;
  height: 100%;
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: NanumSquareNeoBold;
  font-size: 0.9rem;
  z-index: 3;
}
.KeywordItem .item-name {
  width: 3.5rem;
  height: 3.5rem;
  white-space: nowrap;
  padding: 1rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.5;
  color: gray;
  background-color: var(--text-box);
}
.KeywordItem.summary .item-name {
  width: 1.75em;
  height: 1.75em;
  font-size: 0.625em;
}
.KeywordItem.true .item-name {
  color: white;
  background-color: var(--navy600);
}
